[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "npm install --omit=dev"
]

[phases.build]
cmds = [
  "npm install",
  "npm run build"
]

[start]
cmd = "npm start"

[variables]
NODE_ENV = "production"

